
C_\#\#/C_\#\#.csproj
C_\#\#/obj/C_\#\#.csproj.nuget.dgspec.json
C_\#\#/obj/C_\#\#.csproj.nuget.g.props
C_\#\#/obj/C_\#\#.csproj.nuget.g.targets
C_\#\#/obj/project.assets.json
C_\#\#/obj/project.nuget.cache
C_\#\#/Program.cs
